<div class="container">
    <!-- <form #productForm="ngForm" (onSubmit)="onSubmit(productForm.value)"> -->
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)"> 
        <div class="form-group">
            <label>Id</label>
            <input type="text" #productId="ngModel" class="form-control" name="id" ngModel required />
            <div [hidden]="productId.valid" class="alert alert-danger alert-danger-icon">
                Please Enter Id
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" #productRef="ngModel" minlength="2" maxlength="30" name="name" ngModel required />
            <div *ngIf = "productRef.errors && (productRef.dirty || productRef.touched)">
                <div [hidden]="!productRef.errors.required" class="alert alert-danger alert-danger-icon">
                    Please Enter Name
                </div>
                <div [hidden]="!productRef.errors.minlength" class="alert alert-danger alert-danger-icon">
                    Name atleast 2 chars
                </div>
                <div [hidden]="!productRef.errors.maxlength" class="alert alert-danger alert-danger-icon">
                    Name Maximum 30 chars
                </div>
            </div>
            
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="category" ngModel>
                        <option selected>Category-1</option>
                        <option>Category-2</option>
                        <option>Category-3</option>
                        <option>Category-4</option>
                        <option>Category-5</option>
                    </select>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" name="price" ngModel />
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" name="qty" ngModel />
        </div>

        <input type="submit" class="btn btn-primary" />
        <hr color= "green"/>
        <div>
            <h2>Product List</h2>
            <ul class="items">
                <li (click)="onSelect(prod)" [class.selected]="isSelected(prod)" *ngFor ="let prod  of products" >
                    <span class="badge">{{prod.id}}</span>{{prod.name}}
                </li>
            </ul>
           
        </div>

    </form>
</div>